* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;

}

body {
    display: flex;
    align-items: center;
}

#outbox {
    height: calc(372px);
    width: calc(387px);
    /*border: 1px red solid; !*test*!*/
    position: relative;
    left: 70%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 270px;
    /*height: 53.1%;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

select {
    display: block;
}

#outbox button {
    border-radius: 20px;
    margin: 22px 0 0 0;
}

#outbox > p {
    width: 271px;
    justify-self: center;
    display: flex;
    justify-content: space-between;
}

#rem_pwd {
    /*position: relative;*/
    /*left: -80px;*/
    /*float: right;*/
}
