<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="icon" type="image/x-ico" href="{% static 'Front_End\general\img\favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static "Front_End/login/css/login.css" %}">
    <link rel="stylesheet" href="{% static "Front_End/general/css/reg&login.css" %}">
    <script defer="defer" src="{% static "node_modules/jquery/dist/jquery.slim.js" %}"></script>
    <script defer="defer" src="{% static "Front_End/login/js/login.js" %}"></script>
    {% if msg %}
        <script>alter('注册成功')</script>
    {% endif %}
</head>
<body>
<div id="outbox">
    <div id="headbox">
        <div id="line"></div>
        <p id="yhzc">用户登入</p>
    </div>
    <form action="{% url 'main:login' %}" name="login" method="post" id="login" onsubmit="return validate();">
        {#    onsubmit要写return ,不然只是一个布尔值#}
        <p class="words">工号</p>
        <input type="text" name="id" class="inputbox">
        <p class="words">密码</p>
        <input type="password" name="pwd" class="inputbox">
    </form>
    <p><span id="rem_pwd"><input type="checkbox" name="stu" form="login">记住密码</span><span>尚未注册,点击<a
            href="{% url 'main:register' %}">注册</a></span>
    </p>
    <button form="login" type="submit" value="submit">登入</button>
</div>

</body>
</html>